.Contaner {
  /* text-align: center; */
  max-width: 400px;
  min-height: 500px;
  background-color:rgb(242, 248, 250);
  margin: 0 auto;
  text-transform: capitalize;
  margin-top: 50px;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgb(250, 184, 187);
}
.Expen{
  background-color: white;
  display: flex;
  /* flex-direction: row; */
  text-transform: capitalize;
  justify-content:space-around;
  box-shadow: 0 0 10px rgb(250, 184, 187);

}
.ul{
  
  margin: 0;
  padding: 0;
  ;
 
}
.ul li{
  display: flex;
  justify-content:space-between;
  list-style: none;
  padding: 5px;
  box-shadow: 0 0 5px gray;
  background-color: white;
  margin-top: 5px;
}
.form input{
  width: 100%;
  padding: 5px;
  font-size: 20px;
}
.button{
  width: 100%;
  margin: 10px;
  padding: 5px 0;
  font-size: 20px;
  background-color: green;
  text-transform: uppercase;
  font-weight:bold;
  color: azure;
}

